<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tofft_preprod</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tofft_preprod.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid d-flex align-items-center">
                <!--Horizontal-menu-->
                <ul class="navbar-nav d-flex flex-row mx-auto align-items-center">
                    <li class="nav-item">
                        <div class="navbar-title">
                            <img src="~/Tofft-png-holder/IconFullColorReversed.png" alt="Logo" class="navbar-logo" />
                            <a class="navbar-brand" href="#">Tofft</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Board" asp-action="UserBoards">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Board" asp-action="Taskboard">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                </ul>
                <div class="d-flex flex-row navbar-profile">
                    <img src="~/Tofft-png-holder/Notifications.png" class="navbar-notify" />
                    <button onclick="window.location.href='@Url.Action("ControlPanel", "Account")'" class="navbar-avatar rounded-circle" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container row footer-content">
            <div class="col-4">
                <h4>Контакты</h4>
                <h2>Мащенко А. Е. / AKOVA Prod.</h2>
                <a>+7 (963) 682 - 93 - 04<br /></a>
                <a>mash.xander@outlook.com</a>
            </div>
            <div class="col-6">
                <h4>Оферта</h4>
                <p>
                    Данное программное обеспечение спроектировано и разработано в качестве продукта
                    для выпускной квалификационной работы (далее ВКР) студента бакалавриата
                    Федерального государственного бюджетного образовательного учреждения высшего образования
                    ”Российский Государственный Социальный Университет” (РГСУ)<br />
                    <br />
                    “Разработка веб-приложения для управления групповыми проектами “Tofft”” - 2025 год.
                </p>
            </div>
            <div class="col-2">
                <h4>Локализация</h4>
                <div>
                    <input type="radio" id="ru" value="Russian" checked="checked" />
                    <label for="ru">Русский</label>
                    <img src="~/Tofft-png-holder/russia.png" class="localisation-flags" />
                </div>
                <div>
                    <input type="radio" id="en" value="English" />
                    <label for="en">English</label>
                    <img src="~/Tofft-png-holder/united-kingdom.png" class="localisation-flags" />
                </div>
                <div>
                    <input type="radio" id="du" value="Deutsch" />
                    <label for="du">Deutsch</label>
                    <img src="~/Tofft-png-holder/germany.png" class="localisation-flags" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
