<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tofft_preprod</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tofft_preprod.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <div class="navigation-holder container d-flex flex-row align-items-center">
            <nav class="navigation">
                <ul class="navigation-row d-flex flex-row align-items-center justify-content-center">
                    <li class="navigation-item d-flex align-items-center">
                        <div class="navigation-title d-flex flex-row align-items-center">
                            <div class="navigation-logo"></div>
                            <a class="navigation-brand" href="#">Tofft</a>
                        </div>
                    </li>
                    <li class="navigation-item d-flex align-items-center">
                        <a class="navigation-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                    </li>
                    <li class="navigation-item d-flex align-items-center">
                        <a class="navigation-link" asp-controller="Board" asp-action="Index">ПРОЕКТЫ</a>
                    </li>
                    <li class="navigation-item d-flex align-items-center">
                        <a class="navigation-link" href="/faq">FAQ</a>
                    </li>
                </ul>
            </nav>
            <div class="d-flex flex-row navigation-profile">
                <div class="navigation-notifications"></div>
                <button onclick="window.location.href='@Url.Action("ControlPanel", "Account")'" class="navigation-avatar rounded-circle" />
            </div>
        </div>
    </header>

    <div class="container main-content">
        <main role="main" class="pb-3" style="padding-bottom: 20px !important;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container row footer-content">
            <div class="col-4">
                <h4 class="footer-title">Контакты</h4>
                <h2>Мащенко А. Е. / AKOVA Prod.</h2>
                <a>+7 (963) 682 - 93 - 04<br /></a>
                <a>mash.xander@outlook.com</a>
            </div>
            <div class="col-6">
                <h4 class="footer-title">Оферта</h4>
                <p>
                    Данное программное обеспечение спроектировано и разработано в качестве продукта
                    для выпускной квалификационной работы (далее ВКР) студента бакалавриата
                    Федерального государственного бюджетного образовательного учреждения высшего образования
                    ”Российский Государственный Социальный Университет” (РГСУ)<br />
                    <br />
                    “Разработка веб-приложения для управления групповыми проектами “Tofft”” - 2025 год.
                </p>
            </div>
            <div class="col-2">
                <h4 class="footer-title">Локализация</h4>
                <div>
                    <input type="radio" id="ru" value="Russian" checked="checked" />
                    <label for="ru">Русский</label>
                    <img src="~/Content/Images/russia.png" class="localisation-flags" />
                </div>
                <div>
                    <input type="radio" id="en" value="English" />
                    <label for="en">English</label>
                    <img src="~/Content/Images/united-kingdom.png" class="localisation-flags" />
                </div>
                <div>
                    <input type="radio" id="du" value="Deutsch" />
                    <label for="du">Deutsch</label>
                    <img src="~/Content/Images/germany.png" class="localisation-flags" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
