<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tofft_preprod</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tofft_preprod.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid d-flex align-items-center">
                <!--Horizontal-menu-->
                <ul class="navbar-nav d-flex flex-row mx-auto align-items-center">
                    <li class="nav-item">
                        <div class="navbar-title">
                            <img src="~/Tofft-png-holder/IconFullColorReversed.png" alt="Logo" class="navbar-logo" />
                            <a class="navbar-brand" href="#">Tofft</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                </ul>
                <div class="d-flex flex-row navbar-profile">
                    <img src="~/Tofft-png-holder/Notifications.png" class="navbar-notify" />
                    <img src="~/Tofft-png-holder/temp-avatar.jpg" class="navbar-avatar rounded-circle" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="height: 100px">
        <a>CHZH</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
