@using Tofft_preprod.Models;
@model Mission

<head>
    <link rel="stylesheet" href="~/css/Mission/mission-index.css" />
</head>

<div class="mission-tab d-flex flex-column"
     onclick="window.location.href='@Url.Action("Index", "Mission", new { boardId = Model.BoardId, id = Model.Id })'"
     style="cursor: pointer;">

    <div id="first" class="mission-tab-info d-flex flex-row">
        @if (Model.Deadline.Subtract(DateTime.Today).Days <= 1)
        {
            <div id="danger" class="mission-tab-status rounded-circle"></div>
        }
        else if (Model.Deadline.Subtract(DateTime.Today).Days <= 3)
        {
            <div id="normal" class="mission-tab-status rounded-circle"></div>
        }
        else
        {
            <div id="good" class="mission-tab-status rounded-circle"></div>
        }
        <div class="mission-tab-group d-flex flex-row align-items-center justify-content-center">
            <h5>@Model.Group</h5>
        </div>
        <div class="mission-tab-executor rounded-circle"></div>
    </div>

    <h4 class="mission-tab-title d-flex align-items-center">@Model.Title</h4>

    <div id="second" class="mission-tab-info d-flex flex-row align-items-center">
        <h4 class="mission-tab-deadline">@Model.Deadline.ToString("dd.MM.yyyy")</h4>
        <div class="mission-tab-attachments d-flex">
            <p class="mission-tab-attachments-count">0</p>
        </div>
    </div>

</div>
