@using Tofft_preprod.Models;
@model Mission

<head>
    <link rel="stylesheet" href="~/css/Mission/mission-index.css" />
</head>

<div class="mission-tab d-flex flex-column"
     onclick="window.location.href='@Url.Action("Index", "Mission", new { boardId = Model.BoardId, id = Model.Id })'"
     style="cursor: pointer;">
    <div class="mission-tab-info-top d-flex flex-row">
        @if (Model.Deadline.Subtract(DateTime.Today).Days <= 1)
        {
            <div id="danger" class="mission-tab-status rounded-circle"></div>
        }
        else if (Model.Deadline.Subtract(DateTime.Today).Days <= 3)
        {
            <div id="normal" class="mission-tab-status rounded-circle"></div>
        }
        else
        {
            <div id="good" class="mission-tab-status rounded-circle"></div>
        }
        <div class="mission-group-view d-flex flex-row align-items-center justify-content-center">
            <h5>@Model.Group</h5>
        </div>
        <div class="mission-executor-view rounded-circle"></div>
    </div>
    <div class="mission-tab-info-bot d-flex flex-column">
        <h4 class="mission-title">@Model.Description</h4>
        <div class="mission-tab-attachments"></div>
    </div>
</div>
