:root {
    --light-shade: #F7FFF7;
    --dark-shade: #292F36;
    --blue-accent: #4ECDC0;
    --red-accent: #FF6B6B;
    --yellow-accent: #FFE66D;
    --blue-accent-hover: #34B4B2;
}

body {
    font-family: 'Market Fresh';
    background-color: #F7FFF7;
    margin: 0;
    padding: 0;
}

.mission-content{
    margin: 20px;
}

.mission-title{
    font-weight: bold;
    font-size: 32px;
}

.mission-status-title{
    font-weight: bold;
    font-size: 20px
}

.mission-status{
    font-weight: bold;
    font-size: 20px;

    margin-left: 10px;
}

    .mission-status#available{
        color: var(--blue-accent);
    }
    .mission-status#processing{
        color: var(--red-accent);
    }
    .mission-status#done{
        color: var(--yellow-accent);
    }

.mission-deadline-title {
    font-weight: bold;
    font-size: 20px
}

.mission-deadline {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

    .mission-deadline#good {
        color: var(--blue-accent);
    }

    .mission-deadline#danger {
        color: var(--red-accent);
    }

    .mission-deadline#normal {
        color: var(--yellow-accent);
    }

.mission-description-holder{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;

    min-height: 200px;
}

.mission-description{
    font-size: 18px;
    font-weight: normal;
}

.btn:last-child{
    margin-left: auto !important;
}

.mission-tab-holder {
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;

    height: 90%;
}

.mission-tab {
    background-color: var(--light-shade);
    border: 1px solid #ddd;
    border-radius: 0 15px 15px 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    min-height: 100px;
    margin: 10px;
    padding: 10px;
}

.mission-tab-create {
    background-color: var(--blue-accent);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    min-height: 40px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

    .mission-tab-create a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 40px;

        border: 0px;
        border-radius: 15px;

        color: var(--light-shade);
    }

        .mission-tab-create a:focus {
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
        }

        .mission-tab-create a:hover {
            background-color: var(--blue-accent-hover);
        }

.mission-status-view{
    background-color: var(--blue-accent);
    height: 24px;
    width: 24px;

    margin-right: 10px;
}

.mission-group-view{
    background-color: var(--blue-accent);
    height: 24px;
    padding: 5px 10px;

    border: 0px;
    border-radius: 15px;
}

    .mission-group-view h5{
        padding: 0px;
        margin: 0px;
        color: var(--light-shade);
        font-weight: bold;
        font-size: 14px;
    }

.mission-executor-view {
    background-color: var(--light-shade);
    background-image: url("../Content/Images/avatar-placeholder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    height: 24px;
    width: 24px;
    margin-left: auto;
}

.mission-tab-info-bot{
    margin-top: 10px;
}

    .mission-title{
        font-size: 16px;
        font-weight: normal;
        margin: 0px;

        text-align: justify;
    }

    .mission-tab-attachments{
        background-image: url("../Content/Images/attach-file.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 24px;
        width: 24px !important;
        margin-top: 10px;
        margin-left: auto;

        border: 0px;
        border-radius: 15px;
    }

.mission-tab-status{
    background-image: url("../Content/Images/fire-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    height: 24px;
    width: 24px;

    margin-right: 10px;
}

    .mission-tab-status#danger{
        background-color: var(--red-accent);
    }

    .mission-tab-status#normal{
        background-color: var(--yellow-accent);
    }

    .mission-tab-status#good{
        background-color: var(--blue-accent);

        background-image: url("../Content/Images/fire-icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }