/*#region OUTER*/

:root {
    --light-shade: #F7FFF7;
    --dark-shade: #292F36;
    --blue-accent: #4ECDC0;
    --red-accent: #FF6B6B;
    --yellow-accent: #FFE66D;
    --blue-accent-hover: #34B4B2;
}

body {
    font-family: 'Market Fresh';
    background-color: #F7FFF7;
    margin: 0;
    padding: 0;
}

/*#endregion*/

/*#region INDEX*/

.mission-content{
    margin: 20px;
}

.mission-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.mission-status-title{
    font-weight: bold;
    font-size: 16px
}

.mission-status{
    font-weight: bold;
    font-size: 16px;

    margin-left: 10px;
}

    .mission-status#available{
        color: var(--blue-accent);
    }
    .mission-status#processing{
        color: var(--red-accent);
    }
    .mission-status#done{
        color: var(--yellow-accent);
    }

.mission-deadline-title {
    font-weight: bold;
    font-size: 16px
}

.mission-deadline {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

    .mission-deadline#good {
        color: var(--blue-accent);
    }

    .mission-deadline#danger {
        color: var(--red-accent);
    }

    .mission-deadline#normal {
        color: var(--yellow-accent);
    }

.mission-description-holder{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;

    min-height: 200px;
}

.mission-description{
    font-size: 16px;
    font-weight: normal;
}

.btn:last-child{
    margin-left: auto !important;
}

/*#endregion*/

/*#region INDEX-PARTIAL*/

.mission-tab-holder {
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;

    height: 615px;
}

    .mission-tab {
        background-color: var(--light-shade);
        border: 1px solid #ddd;
        border-radius: 0 15px 15px 15px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
        padding: 10px;
    }

    .mission-tab:first-of-type{
        margin-top: 0px !important;
    }

.mission-tab-info#first{
    margin-top: 0px;
}

    .mission-tab-status {
        background-image: url("../../Content/Images/fire-icon.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }
    
        .mission-tab-status#danger{
            background-color: var(--red-accent);
        }
    
        .mission-tab-status#normal{
            background-color: var(--yellow-accent);
        }
    
        .mission-tab-status#good{
            background-color: var(--blue-accent);
        }


    .mission-tab-group {
        background-color: var(--blue-accent);
        height: 24px;
        padding: 5px 10px;
        border: 0px;
        border-radius: 15px;
    }
    
        .mission-tab-group h5 {
            padding: 0px;
            margin: 0px;
            color: var(--light-shade);
            font-weight: bold;
            font-size: 14px;
        }

    .mission-tab-executor {
        background-color: var(--light-shade);
        background-image: url("../../Content/Images/avatar-placeholder.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 24px;
        width: 24px;
        margin-left: auto;
    }



.mission-tab-title{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;

    text-align: justify;
}

.mission-tab-info#second {
    margin-top: 10px;
}

    .mission-tab-deadline{
        font-size: 14px;
        font-weight: normal;
        margin: 0px;

        color: #808080;
    }

    .mission-tab-attachments {
        background-image: url("../../Content/Images/attach-file.png");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 24px;
        width: 24px !important;
        margin-left: auto;
    }
    
        .mission-tab-attachments-count {
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            text-shadow: 
                -1px -1px 0px white,
                1px -1px 0px white,
                -1px 1px 0px white,
                1px 1px 0px white;
            color: #808080;
        }

/*#endregion*/
