@using Tofft_preprod.Models.ViewModels;
@using System.Web;
@model BoardViewModel;

<head>
    <link rel="stylesheet" href="~/css/board-index.css" />
</head>

<body>
    <content>
        <div class="container page-content-container">
            <div class="content-top-head d-flex flex-row align-items-center row">
                <h1 class="top-head-title">@Model.Board.Title</h1>
            </div>
            <div class="board-index-content-holder d-flex flex-row row gy-2">
                <div class="board-index-content col-auto d-flex flex-column">
                    <div class="content-top-head top-head-nav d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">МЕНЮ</h3>
                    </div>
                    <button class="board-index-nav-btn">Доска проекта</button>
                    <button class="board-index-nav-btn">Моя доска</button>
                    <button class="board-index-nav-btn">Проблемы</button>
                    <button class="board-index-nav-btn">Репорты</button>
                    <button class="board-index-nav-btn">Статистика</button>
                    <button class="board-index-nav-btn">Календарь</button>
                </div>
                <div class="board-index-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">ЗАДАЧИ</h3>
                    </div>
                    <div class="mission-create-TEMP">
                        <a asp-controller="Mission" asp-action="Create" asp-route-boardId="@Model.Board.Id">PLUS</a>
                        <a asp-controller="Mission" asp-action="Index" asp-route-boardId="@Model.Board.Id">EDIT</a>
                    </div>
                    
                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Available })

                </div>
                <div class="board-index-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">В ПРОЦЕССЕ</h3>
                    </div>
                    
                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Processing })

                </div>
                <div class="board-index-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">ГОТОВО</h3>
                    </div>

                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Done })
                
                </div>
            </div>
        </div>
    </content>
</body>
