@using Tofft_preprod.Models.ViewModels;
@using System.Web;
@model BoardViewModel;

<head>
    <link rel="stylesheet" href="~/css/Board/board-details.css" />
</head>

<body>
    <content>
        <div class="container page-content-container">
            <div class="content-top-head d-flex flex-row align-items-center row">
                <h1 class="top-head-title">@Model.Board.Title</h1>
            </div>
            <div id="board-details-unique" class="content-main-body d-flex flex-row">
                <div class="board-details-content col-auto d-flex flex-column">
                    <div id="board-details-unique" class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">МЕНЮ</h3>
                    </div>
                    <button class="board-details-navigation-button">Доска проекта</button>
                    <button class="board-details-navigation-button">Моя доска</button>
                    <button class="board-details-navigation-button">Проблемы</button>
                    <button class="board-details-navigation-button">Репорты</button>
                    <button class="board-details-navigation-button">Статистика</button>
                    <button class="board-details-navigation-button">Календарь</button>
                    @using (Html.BeginForm("GenerateLink", "Invite", new { boardId = Model.Board.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="board-details-navigation-button">ИНВАЙТ</button>
                    }
                    @using (Html.BeginForm("Requests", "Admin", new { id = Model.Board.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="board-details-navigation-button">АДМИН</button>
                    }
                </div>
                <div class="board-details-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">ЗАДАЧИ</h3>
                    </div>
                    <div class="mission-tab-create d-flex align-items-center justify-content-center">
                        <a asp-controller="Mission" asp-action="Create" asp-route-boardId="@Model.Board.Id">ДОБАВИТЬ</a>
                    </div>
                    
                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Available })

                </div>
                <div class="board-details-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">В ПРОЦЕССЕ</h3>
                    </div>
                    
                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Processing })

                </div>
                <div class="board-details-content col-3">
                    <div class="content-top-head d-flex flex-row align-items-center justify-content-center">
                        <h3 class="top-head-title-h3">ГОТОВО</h3>
                    </div>

                    @await Component.InvokeAsync("MissionList", new { boardId = Model.Board.Id, status = MissionStatus.Done })
                
                </div>
            </div>
        </div>
    </content>
</body>
