@using Tofft_preprod.Models.ViewModels
@using System.Web;
@model BoardViewModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tofft</title>
    <link rel="stylesheet" href="~/css/Board/board-index.css" />
</head>

<body>
    <content>
        <div class="page-content-container container d-flex flex-column">
            <div class="content-top-head d-flex flex-row align-items-center">
                <h1 class="top-head-title">ВАШИ ПРОЕКТЫ</h1>
                <button id="board-index-top" class="add-button rounded-circle" type="submit"></button>
            </div>
            <div class="content-main-body">
                <div class="container">
                    <div class="container align-items-center text-center justify-content-center">
                        @if (Model.UserBoards.Any())
                        {
                            @foreach (var board in Model.UserBoards)
                            {
                                <div class="board-view-entity d-flex flex-row align-items-center">
                                    <div class="board-view-splash"></div>
                                    <div class="board-view-info d-flex flex-column justify-content-center">
                                        <h2 class="board-view-title">@board.Title</h2>
                                        <h3 class="board-view-description">@board.Description</h3>
                                    </div>
                                    <div class="board-view-button-holder d-flex align-items-center justify-content-center">
                                        @using (Html.BeginForm("Details", "Board", new { id = board.Id }, FormMethod.Get))
                                        {
                                            <button type="submit" class="board-view-button rounded-circle"></button>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="board-nothing-message">
                                Кажется вы пока не участвуете ни в одном проекте :(<br />
                                Вы можете создать собственный или присоединится к готовому <br />
                                По приглашению-ссылке!
                            </p>
                            <img src="~/Content/Images/thinking.png" class="board-nothing-emoji" />
                        }
                    </div>
                    <div class="board-button-splash row justify-content-center"
                         onclick="window.location.href='@Url.Action("Create", "Board")'"
                         style="cursor: pointer;">
                        <a asp-controller="Board" asp-action="Create" id="board-index-bottom" class="add-button rounded-circle"></a>
                    </div>
                </div>
            </div>
        </div>
    </content>
</body>