<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tofft</title>
    <link rel="stylesheet" href="~/css/board.css" />
</head>

<form asp-action="Taskboard" method="get">
    <body>
        <content>
            <div class="container">
                <div class="title-div row-2 d-flex flex-row">
                    <h1 class="col-3">The Darkest Era</h1>
                    <h2 class="col">AKOVA Games Inc.</h2>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h1>MENU</h1>
                    </div>
                    <div class="col-3">
                        <h1>TASKS</h1>
                    </div>
                    <div class="col-3">
                        <h1>IN PROCCESS</h1>
                    </div>
                    <div class="col-3">
                        <h1>DONE</h1>
                    </div>
                </div>
            </div>
        </content>
    </body>
</form>
