@using Tofft_preprod.Models.ViewModels
@model LoginViewModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tofft</title>
    <link rel="stylesheet" href="~/css/validation.css" />
</head>

<form asp-action="Login" method="post">
    <div class="container validation-content">
        <h2>Login</h2>
        <div class="validation-bar row">
            <label asp-for="Email" class="col-2"></label>
            <input asp-for="Email" class="col-2" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="validation-bar row">
            <label asp-for="Password" class="col-2"></label>
            <input asp-for="Password" class="col-2" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="validation-bar row">
            <label asp-for="RememberMe" class="col-2"></label>
            <div class="col-2" style="padding-left: 0">
                <input asp-for="RememberMe" />
            </div>
        </div>
        <button class="btn" type="submit">Login</button>
    </div>
</form>