@page

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tofft</title>
    <link rel="stylesheet" href="~/css/Home/home-index.css" />
</head>
<body>
    <content>
        <div class="container">
            <div class="row">
                <div class="side-menu col-3">
                    <div class="side-menu-block">
                        <div class="side-menu-navigation-holder">
                            <nav class="side-menu-navigation">
                                <ul>
                                    <li><a href="#">● ГЛАВНАЯ</a></li>
                                    <li><a href="#">● О НАС</a></li>
                                    <li><a href="#">● НАШИ ЦЕЛИ</a></li>
                                    <li><a href="#">● НАША КОМАНДА</a></li>
                                    <li><a href="#">● НАШИ ТЕХНОЛОГИИ</a></li>
                                    <li><a href="#">● КОНТАКТЫ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="side-menu-block">
                        <div class="side-menu-feedback-holder">
                            <h3>Оставьте ваш отзыв!</h3>
                            <form>
                                <textarea class="side-menu-feedback-message" placeholder="Ваше сообщение..."></textarea>
                                <div class="side-menu-feedback-rating">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                                <button type="submit" class="btn side-menu-feedback-button">ОТПРАВИТЬ</button>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="menu-content container col-9 d-flex flex-column">
                    <div class="menu-splash"></div>
                    <div class="menu-button-holder">
                        <button class="menu-button btn" id="moreInfoBtn">БОЛЬШЕ</button>
                        <button class="menu-button btn" id="joinBtn">ПРИСОЕДИНИТЬСЯ</button>
                        <button class="menu-button btn" id="createBtn">СОЗДАТЬ</button>
                    </div>
                </div>
            </div>

            
        </div>
    </content>
    

    <script src="~/js/site.js"></script>
</body>