@page

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tofft</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <content>
        <div class="container">
            <div class="row">
                <div class="side-menu col-3">
                    <div class="side-menu-block">
                        <div class="navigation-block">
                            <nav class="navbar-home">
                                <ul>
                                    <li><a href="#">● HOME</a></li>
                                    <li><a href="#">● ABOUT US</a></li>
                                    <li><a href="#">● OUR TARGETS</a></li>
                                    <li><a href="#">● OUR TEAM</a></li>
                                    <li><a href="#">● OUR STACK</a></li>
                                    <li><a href="#">● CONTACTS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="side-menu-block">
                        <div class="feedback-block">
                            <h3>Leave your feedback!</h3>
                            <form>
                                <textarea placeholder="Write your message..."></textarea>
                                <div class="rating">
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                    <span>★</span>
                                </div>
                                <button type="submit" class="btn fb-button">Send</button>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="menu-content container col-9">
                    <div class="buttons">
                        <button class="btn" id="moreInfoBtn">More</button>
                        <button class="btn" id="joinBtn">Join</button>
                        <button class="btn" id="createBtn">Create</button>
                    </div>
                </div>
            </div>

            
        </div>
    </content>
    

    <script src="~/js/site.js"></script>
</body>