:root {
    --light-shade: #F7FFF7;
    --dark-shade: #292F36;
    --blue-accent: #4ECDC0;
    --red-accent: #FF6B6B;
    --yellow-accent: #FFE66D;
    --blue-accent-hover: #34B4B2;
}

body {
    font-family: 'Market Fresh';
    background-color: #F7FFF7;
    margin: 0;
    padding: 0;
}

.board-index-nav-btn{
    background-color: var(--light-shade);
    border: 1px solid #ddd;
    padding: 16px 0;

    font-size: 16px;
}

.top-head-title-h3{
    font-size: 20px;
    margin: 0;
}

.board-index-nav-btn:last-child{
    margin-bottom: 20px;
}

.board-index-content-holder{
    height: 80vh;
    padding: 0;
    margin: 0;
}

.board-index-content{
    padding: 0;
    margin: 0;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: var(--light-shade);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    height: 100%;
}

.board-index-content:last-child{

    margin-right: 0px;
}

.board-index-content:first-child{
    margin-left: 0px;
    flex-grow: 1;

    border-radius: 15px 0px 0px 15px;
}

.content-top-head{
    height: 64px !important;
}

.top-head-nav {
    border-radius: 15px 0px 0px 0px !important;
}

.mission-tab-holder {
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;

    height: 90%;
}

.mission-tab {
    background-color: var(--light-shade);
    border: 1px solid #ddd;
    border-radius: 0 15px 15px 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    min-height: 100px;
    margin: 10px;
    padding: 10px;
}

.mission-status-view{
    background-color: var(--blue-accent);
    height: 24px;
    width: 24px;

    margin-right: 10px;
}

.mission-group-view{
    background-color: var(--blue-accent);
    height: 24px;
    padding: 5px 10px;

    border: 0px;
    border-radius: 15px;
}

    .mission-group-view h5{
        padding: 0px;
        margin: 0px;
        color: var(--light-shade);
        font-weight: bold;
        font-size: 14px;
    }

.mission-executor-view {
    background-color: var(--light-shade);
    background-image: url("../Content/Images/avatar-placeholder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    height: 24px;
    width: 24px;
    margin-left: auto;
}

.mission-tab-info-bot{
    margin-top: 10px;
}

    .mission-title{
        font-size: 16px;
        font-weight: normal;
        margin: 0px;

        text-align: justify;
    }

    .mission-attachments-view{
        background-color: var(--red-accent);
        height: 24px;
        width: 24px !important;
        margin-top: 10px;
        margin-left: auto;

        border: 0px;
        border-radius: 15px;
    }