body {
    font-family: 'Market Fresh';
    background-color: #F7FFF7; /*F7FFF7*/
    margin: 0;
    padding: 0;
}

/*#region side-navigation*/

.side-menu-block {
    background-color: #292F36;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.side-menu-block:not(:last-child){
    margin-bottom: 20px
}

.navbar-home {
    color: white;
}

    .navbar-home ul {
        list-style-type: none;
        padding: 0;
    }

    .navbar-home li {
        background-color: #F7FFF7;
        border: 1px solid #ddd;
        padding: 20px 0px;
    }

    .navbar-home a {
        margin-left: 40px;
        text-decoration: none;
        color: #292929;
        font-size: 24px;
        display: block;
    }

.navigation-block{
    background-color: #F7FFF7;
    margin: 20px 0;
}



.side-menu{
    padding: 20px 0;
    padding-right: 20px;
}

/*#endregion*/

/*#region side-feedback*/

.feedback{
    margin-top: 30px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.feedback-block{
    background-color: #F7FFF7;
    margin: 20px 0;
    padding: 20px;
}

.fb-button{
    width: 100%;
}

.rating{
    margin-bottom: 10px;
}

.rating span{
    font-size: 20px;
    color: #f2c94c;
}

/*#endregion*/

/*#region main-content*/

.menu-content {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;

    background-image: url("../Tofft-png-holder/homeContent.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 10px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.welcome-message h1{
    font-size: 2.5rem;
    color: #333;
}

.tofft-logo{
    font-size: 4rem;
    color: #e34e3c;
    font-weight: bold;
}

.buttons {
    margin-left: auto;
    margin-bottom: 20px;
}

/*#endregion*/