/*#region OUTER*/

@font-face {
    font-family: 'Market Fresh';
    src: url('../Content/Fonts/MarketFresh.woff2') format('woff2'),
         url('../Content/Fonts/MarketFresh.woff') format('woff');
}

@font-face {
    font-family: 'Market Fresh';
    src: url('../Content/Fonts/MarketFreshBold.woff2') format('woff2'),
         url('../Content/Fonts/MarketFreshBold.woff') format('woff');

    font-weight: bold;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root{
    --light-shade: #F7FFF7;
    --dark-shade: #292F36;

    --blue-accent: #4ECDC0;
    --red-accent: #FF6B6B;
    --yellow-accent: #FFE66D;

    --blue-accent-hover: #34B4B2;
}

/*#endregion*/

/*#region GENERAL*/

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Market Fresh';
    background-color: var(--light-shade);
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn {
    background-color: var(--blue-accent);
    color: white;
    border: none;
    padding: 20px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

    .btn:hover {
        background-color: var(--blue-accent-hover);
    }

.add-button:focus, .add-button:active:focus, .add-button-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

    .add-button:hover {
        background-color: var(--blue-accent-hover);
    }

.main-content{
    padding-top: 64px;
}

.content-top-head {
    margin: 0px;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    background-color: var(--dark-shade);
    color: #F7FFF7;
    height: 52px;
}

    .content-top-head button{
        margin-left: 20px;
    }

.content-main-body {
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    background-color: #f7fff7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
    .content-main-body .container{
        padding: 0px;
        margin: 0px;
    }

    .content-main-body#board-details-unique{
        border: 0px;
        background-color: none;
        box-shadow: none;
    }

.page-content-container{
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
}

.add-button {
    border: 0px;
    background-color: #4ECDC4;
    background-image: url("../../Content/Images/add.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.top-head-title{
    color: var(--light-shade);

    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 3px;

    margin-bottom: 0px;
}

.mini-icon-box {
    height: 20px;
    width: 20px;
    background-color: var(--blue-accent);
    
    border: 0px solid #ddd;
    border-radius: 5px;
}

/*#endregion*/

/*#region HEADER*/

header{
    width: 100%;
    background: #292f36;
    height: 64px;
    position: fixed;
}

    header .nav li.active, .nav li.active:hover, li:hover, a:hover {
        color: #4ECDC4 !important;
    }

.navigation-holder{
    width: 100%;
    height: 64px;
}

.navigation-row{
    margin: 0px;
    padding: 0px;
}
    
    .navigation-item{
        margin-right: 64px;
        font-family: 'Market Fresh';
        font-weight: bold;
        font-size: 24px;

        marker: none;
    }

    .navigation-item:first-child{

    }

        .navigation-brand{
            font-size: 32px;
            text-decoration: none;
            color: var(--light-shade);
        }

        .navigation-logo{
            height: 28px;
            width: 28px;
            background-image: url("../Content/Images/tofft-colored-icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            margin-right: 10px;

            padding: 0px;
        }
    
        .navigation-link{
            text-decoration: none;
            color: var(--light-shade);
        }

        .navigation-profile{
            margin-left: auto;
        }

            .navigation-notifications{

            }

            .navigation-avatar {
                height: 32px;
                width: 32px;
                background-color: var(--light-shade);
                background-image: url("../Content/Images/avatar-placeholder.png");
                background-size: 60%;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                border: 0px;
            }
/*#endregion*/

/*#region FOOTER*/

footer {
    background-color: #292f36;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    color: var(--light-shade);
}

    footer .footer-content {
        margin: auto;
        color: #868F9B;
    }

    footer .footer-title {
        color: #868F9B;
    }

footer .localisation-flags{
    height: 32px;
    width: 32px;
    
    margin-left: 10px;
}
/*#endregion*/